PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=todo_user
DB_PASSWORD=todo_pass
DB_NAME=todo_db

JWT_SECRET=b81ad2d4fb8486295dd500b0317e3d43c02b9627c6e947e63cf13081355b4d2f
JWT_EXPIRES_IN=1d

ADMIN_TOKEN=supersecret

APP_MODE=production

